body {
  background-color:lavender;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1.2rem;
}

.p-add {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.select-menu {
    width: 80%;
}

.p-list {
    margin-top: 1.2rem;
}

.p-table {
    display: flex;
    flex-direction: row;
 }

 .t-id {
     text-align: center;
     width: 10%;
 }

 .t-item {
     text-align: center;
 }

 .t-output {
     max-width: fit-content;
 }


